* {
    margin: 0;
    padding: 0;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid;
}

.camel {
    border-color: red;
}

.cat {
    border-color: blue;
}

.horse {
    border-color: green;
}

.exercicio1 {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
 
}
.exercicio2 {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.exercicio3 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.exercicio4 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.exercicio5 {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    height: 500px;
}
.exercicio6 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 500px;
}
.exercicio7 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    height: 500px;
}
.exercicio8 {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}
.exercicio9 {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.exercicio10 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 10px;
}
.exercicio11 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    height: 800px;
}
.exercicio12 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 10px;
    height: 800px;
}
.exercicio13 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    height: 500px;
}
.exercicio14 {
    display: flex;
    .cat {
        order: 1;
    }
}
.exercicio15{
    display: flex;
    .cat {
        order: -1;
    }
}
.exercicio16 {
    display: flex;
    flex-direction: flex-start;
    justify-content: center;    
    padding: 10px;
    height: 500px;
    .cat {
        align-self: flex-end;
    }   

}
.exercicio17 {
    display: flex;
    flex-direction: flex-start;   
    padding: 10px;
    height: 500px;
    .cat {
        order: 1;
        align-self: flex-end;
    }   
}
.exercicio18 {
    display: flex;
    flex-wrap: wrap;   
    padding: 10px;
    height: 500px; 
}
.exercicio19 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    padding: 10px;
    height: 500px;  
}
.exercicio20 {
    display: flex;
    flex-flow:row nowrap;
    flex-direction: column;
    flex-wrap: wrap;   
    padding: 10px;
    height: 500px;  
}
.exercicio21 {
    display: flex;
    flex-wrap: wrap;   
    align-content: flex-start;
    padding: 10px;
    height: 500px;  
}
.exercicio22 {
    display: flex;
    flex-wrap: wrap;   
    align-content: flex-end;
    padding: 10px;
    height: 500px;  
}
.exercicio23 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;   
    align-content: center;
    padding: 10px;
    height: 500px;  
}
.exercicio24 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    align-content: space-between;
    justify-content: center;
    padding: 10px;
    height: 1200px;  
}